.red-text{
    color:red;
  }

label, input[type="submit"] {
  width: 130px;
  display: inline-block;
}


#Orders h1 {
   color:red;
}

#table_perfil {  
  background:lightgrey;
}

#table_historial {
background:lightgrey;
}
#table_solicitudes {
background:lightgrey;

}