<!DOCTYPE html>
<html ng-app="EasyCredit">

<head>
  <meta charset="utf-8">
  <title></title>
  <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js'></script>
  <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="Style.css">
</head>

<body id="Credit" class="container">
  <div>
    <div id="navigation">
    </div>
    <div ng-view></div>
  </div>
  <script type="text/javascript" src='./Routes.js'></script>
  <script type="text/javascript" src='./controllers/InicioController.js'></script>
  <script type="text/javascript" src='./controllers/PanelController.js'></script>
  <script type="text/javascript" src='./controllers/FormularioController.js'></script>
  <script type="text/javascript" src='./services/InicioServices.js'></script>
  <script type="text/javascript" src='./services/PanelServices.js'></script>
  <script type="text/javascript" src='./services/FormularioServices.js'></script>
</body>

</html>
