<form class="contact-form" ng-submit="Solicitar()" name="inquiryForm" novalidate>

  <div class="col-sm-10">
    <div id="monto">
      <label>Monto:</label>
      <input ng-change="calcularInteres()" type="number" min="0.00" max="10000.00" step="0.01" ng-model="monto" ng-required="true"
        value="0.00" class="form-control">
    </div>

    <div id="edad">
      <label>Edad:</label>
      <input input type="number" name="age" value="" ng-model="edad" ng-required="true" class="form-control">
    </div>

    <div id="tarjeta" class=" form-check ">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="" ng-model="tieneTarjeta">Tarjeta
      </label>
    </div>


    <div>
      <label for="name">Plazo:</label>

      <select ng-model="plazo" ng-change="calcularInteres()" ng-required="true">
        <option value='3'>3 pagos: 5% de interes</option>
        <option value="6">6 pagos: 7% de interes</option>
        <option value="9">9 pagos: 12% de interes</option>
      </select>

    </div>
    <div>
      <label>TOTAL A PAGAR: {{total}}</label>
      <div>
        <div>
          <button type="submit" id="submit" name="submit" class="btn btn-primary pull-left" ng-disabled="inquiryForm.$invalid">Solicitar</button>
        </div>
</form>