<title>EasyCredit</title>

<body>
    <h1 align="center">Easy Credit</h1>

    <section class="contact-wrap">
        <form class="contact-form" ng-submit="Ingresar()" name="inquiryForm" novalidate>

            <div class="col-sm-10">
                <label for="name">Username:</label>
                <input type="text" name="Username" maxlength="30" ng-pattern="user_name" ng-model="username" ng-required="true" class="form-control">
                <span class="red-text" ng-if="inquiryForm.Username.$error.required && 
                          inquiryForm.Username.$dirty">Username es necesario</span>
                <span class="red-text" ng-show="inquiryForm.Username.$error.pattern">
                    Solo caracteres</span>
            </div>

            <div class="col-sm-10">
                <button type="submit" id="submit" name="submit" class="btn btn-primary pull-left" ng-disabled="inquiryForm.$invalid">Entrar</button>
            </div>
        </form>
    </section>
</body>