<title>EasyCredit</title>

<body>

    <div class="container-fluid">
      <div class="row">
    <div class="table-responsive col-4"> 
      <h2>Informacion del Usuario</h2>
    
        <table id= "table_perfil"  class="table table-bordered "  >
            <thead>
    
                <tr>
                    <td>Nombre</td>
                    <td>Solicitud Pendiente</td>
                    <td>Proceso</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in main.perfil">           
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.solicitud }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
      <div class="table-responsive col-4">
         <h2>Historial Crediticio</h2>
        <table id= "table_historial" class="table table-bordered"  >
            <thead>
                <tr>
                    <td>Monto</td>
                    <td>Edad</td>
                    <td>Tarjeta</td>
                    <td>Plazo</td>
                    <td>Proceso</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in datos">
                    <td>{{ item.val_monto }}</td>
                    <td>{{ item.val_edad }}</td>
                    <td>{{ item.val_tarjetadecredito }}</td>
                    <td>{{ item.val_plazodeinteres }}</td>
                    <td>{{ item.val_procesodeautorizacion }}</td>
                </tr>
            </tbody>
        </table>
    </div>
      
      <div class="table-responsive col-4">
          <h2>Solicitudes actuales</h2>
    
        <table id= "table_solicitudes" class="table table-bordered"  >
            <thead>
                <tr>
                   <td>Monto</td>
                    <td>Edad</td>
                    <td>Tarjeta</td>
                    <td>Plazo</td>
                    <td>Proceso</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in main.solicitudes">
                    <td>{{ item.fun_monto }}</td>
                    <td>{{ item.edad }}</td>
                    <td>{{ item.tarjeta }}</td>
                    <td>{{ item.plazo }}</td>
                    <td>{{ item.proceso }}</td>
                </tr>
            </tbody>
        </table>
            <button type="submit" class="btn btn-success">Nueva Solicitud</button> 
      </div> 
      </div> 
        
    </body>